In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("hessen.xlsx", sheet_name="Bevölkerung", header=0, usecols="B:T", dtype={"Sutun1": str, "Sutun2": float})

In [3]:
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Gebiet,Fläche\nam\n31.12.2021 in km2,Insgesamt,davon,NaN,NaN,NaN,Zu- bzw. Abnahme (–) gegenüber 31.12.2020,NaN,Einwohnerinnen\nauf 1 000\nEinwohner,Einwohner/-innen\nje km²,Von der Bevölkerung insgesamt waren … Jahre alt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,männlich,NaN,weiblich,NaN,NaN,NaN,NaN,NaN,unter 6,NaN,6 bis unter 15,NaN,15 bis unter 65,NaN,65 oder mehr,NaN
2,NaN,NaN,NaN,Anzahl,%,Anzahl,%,Anzahl,%,NaN,NaN,Anzahl,%,Anzahl,%,Anzahl,%,Anzahl,%
3,Land Hessen,21115.629292,6295017,3108589,49.381741,3186428,50.618259,1863,0.029604,1025.039978,298.121212,368155,5.848356,525081,8.341217,4070129,64.656362,1331652,21.154065
4,Kreisfreie Städte,725.921444,1529506,753175,49.243024,776331,50.756976,-4321,-0.281714,1030.744515,2106.98556,95984,6.27549,126879,8.295423,1040299,68.015359,266344,17.413727

In [7]:
df.drop(index=df.index[:3], inplace=True)
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
3,Land Hessen,21115.629292,6295017,3108589,49.381741,3186428,50.618259,1863,0.029604,1025.039978,298.121212,368155,5.848356,525081,8.341217,4070129,64.656362,1331652,21.154065
4,Kreisfreie Städte,725.921444,1529506,753175,49.243024,776331,50.756976,-4321,-0.281714,1030.744515,2106.98556,95984,6.27549,126879,8.295423,1040299,68.015359,266344,17.413727
5,Landkreise,20389.707848,4765511,2355414,49.426263,2410097,50.573737,6184,0.129934,1023.215876,233.721397,272171,5.711266,398202,8.355914,3029830,63.578282,1065308,22.354539
6,Regierungsbezirk Darmstadt,7444.246362,4026564,1985349,49.306282,2041215,50.693718,-54,-0.001341,1028.139133,540.896124,242890,6.03219,344286,8.550367,2620237,65.07377,819151,20.343673
7,"Darmstadt, Wissenschaftsstadt",122.073718,159631,81251,50.899261,78380,49.100739,457,0.287107,964.66505,1307.660671,9331,5.845356,12576,7.878169,109739,68.745419,27985,17.531056

In [8]:
new_column_names = ['Gebiet', 'Fläche', 'Insgesamt','Anzahl_männlich', '%_männlich', 'Anzahl_weiblich', '%_weiblich', 'Anzahl_Abnahme', '%_Abnahme', 'Einwohnerinnen_auf_1000_Einwohner', 'Einwohner/-innen_je_km²','Anzahl_unter_6', '%_unter_6', 'Anzahl_6-15','%_6-15','Anzahl_15-65','%_15-65','Anzahl_65_mehr','%_65_mehr' ]

In [10]:
# Assign new names to each column
for i, name in enumerate(new_column_names):
    df.rename(columns={df.columns[i]: name}, inplace=True)

print(df)

                                   Gebiet        Fläche Insgesamt  \
3                             Land Hessen  21115.629292   6295017
4                       Kreisfreie Städte    725.921444   1529506
5                              Landkreise  20389.707848   4765511
6              Regierungsbezirk Darmstadt   7444.246362   4026564
7           Darmstadt, Wissenschaftsstadt    122.073718    159631
..                                    ...           ...       ...
455             Gutsbezirk Kaufunger Wald     50.319386         0
456  Regionalverband FrankfurtRheinMain1)    2673.71539   2436741
457              Zweckverband Raum Kassel    379.173244    331954
458                                   NaN           NaN       NaN
459                                   NaN           NaN       NaN

    Anzahl_männlich %_männlich Anzahl_weiblich %_weiblich Anzahl_Abnahme  \
3           3108589  49.381741         3186428  50.618259           1863
4            753175  49.243024          776331  50.756976          -4321
5           2355414  49.426263         2410097  50.573737           6184
6           1985349  49.306282         2041215  50.693718            -54
7             81251  50.899261           78380  49.100739            457
..              ...        ...             ...        ...            ...
455               0          0               0          0              0
456         1200958  49.285419         1235783  50.714581           1532
457          162722  49.019442          169232  50.980558           -480
458             NaN        NaN             NaN        NaN            NaN
459             NaN        NaN             NaN        NaN            NaN

    %_Abnahme Einwohnerinnen_auf_1000_Einwohner Einwohner/-innen_je_km²  \
3    0.029604                       1025.039978              298.121212
4   -0.281714                       1030.744515              2106.98556
5    0.129934                       1023.215876              233.721397
6   -0.001341                       1028.139133              540.896124
7    0.287107                         964.66505             1307.660671
..        ...                               ...                     ...
455         0                                 0                       0
456   0.06291                       1028.997684               911.36888
457  -0.14439                       1040.006883               875.46789
458       NaN                               NaN                     NaN
459       NaN                               NaN                     NaN

    Anzahl_unter_6 %_unter_6 Anzahl_6-15    %_6-15 Anzahl_15-65    %_15-65  \
3           368155  5.848356      525081  8.341217      4070129  64.656362
4            95984   6.27549      126879  8.295423      1040299  68.015359
5           272171  5.711266      398202  8.355914      3029830  63.578282
6           242890   6.03219      344286  8.550367      2620237   65.07377
7             9331  5.845356       12576  7.878169       109739  68.745419
..             ...       ...         ...       ...          ...        ...
455              0         0           0         0            0          0
456         150562  6.178827      212288  8.711964      1601433   65.72028
457          19485  5.869789       26107  7.864644       212939  64.147141
458            NaN       NaN         NaN       NaN          NaN        NaN
459            NaN       NaN         NaN       NaN          NaN        NaN

    Anzahl_65_mehr  %_65_mehr
3          1331652  21.154065
4           266344  17.413727
5          1065308  22.354539
6           819151  20.343673
7            27985  17.531056
..             ...        ...
455              0          0
456         472458   19.38893
457          73423  22.118426
458            NaN        NaN
459            NaN        NaN

[457 rows x 19 columns]

In [11]:
df.sample(10)

,Gebiet,Fläche,Insgesamt,Anzahl_männlich,%_männlich,Anzahl_weiblich,%_weiblich,Anzahl_Abnahme,%_Abnahme,Einwohnerinnen_auf_1000_Einwohner,Einwohner/-innen_je_km²,Anzahl_unter_6,%_unter_6,Anzahl_6-15,%_6-15,Anzahl_15-65,%_15-65,Anzahl_65_mehr,%_65_mehr
403,Neuental,38.673108,3000,1501,50.033333,1499,49.966667,-34,-1.120633,998.667555,77.573284,125,4.166667,223,7.433333,1908,63.6,744,24.8
23,"Hirschhorn (Neckar), Stadt",30.84581,3382,1665,49.231224,1717,50.768776,-28,-0.821114,1031.231231,109.64212,185,5.470136,209,6.179775,2070,61.206387,918,27.143702
325,Hofbieber,87.258223,6118,3101,50.686499,3017,49.313501,43,0.707819,972.911964,70.113736,371,6.064073,438,7.159202,4033,65.920235,1276,20.856489
425,"Frankenau, Nationalparkstadt",57.291534,2852,1411,49.474053,1441,50.525947,-23,-0.8,1021.261517,49.780479,149,5.224404,176,6.171108,1853,64.97195,674,23.632539
457,Zweckverband Raum Kassel,379.173244,331954,162722,49.019442,169232,50.980558,-480,-0.14439,1040.006883,875.46789,19485,5.869789,26107,7.864644,212939,64.147141,73423,22.118426
426,"Frankenberg (Eder), Philipp-Soldan-Stadt",124.860208,17739,8894,50.138114,8845,49.861886,61,0.345062,994.490668,142.070883,998,5.626022,1509,8.50668,11145,62.827668,4087,23.03963
84,"Steinbach (Taunus), Stadt",4.401917,10647,5165,48.511318,5482,51.488682,-31,-0.290317,1061.374637,2418.718935,690,6.480699,992,9.317179,6572,61.726308,2393,22.475815
103,Hasselroth,18.932144,7327,3633,49.583731,3694,50.416269,-42,-0.569955,1016.790531,387.013748,405,5.527501,574,7.834038,4717,64.378327,1631,22.260134
88,Main-Kinzig-Kreis,1397.320611,423465,208904,49.332058,214561,50.667942,1776,0.421163,1027.079424,303.055002,25070,5.920206,35496,8.382275,269613,63.668308,93286,22.029211
251,Dornburg,33.228369,8567,4212,49.165402,4355,50.834598,34,0.398453,1033.950617,257.821863,474,5.532859,720,8.404342,5459,63.721256,1914,22.341543

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 3 to 459
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gebiet                             455 non-null    object
 1   Fläche                             455 non-null    object
 2   Insgesamt                          455 non-null    object
 3   Anzahl_männlich                    455 non-null    object
 4   %_männlich                         455 non-null    object
 5   Anzahl_weiblich                    455 non-null    object
 6   %_weiblich                         455 non-null    object
 7   Anzahl_Abnahme                     455 non-null    object
 8   %_Abnahme                          455 non-null    object
 9   Einwohnerinnen_auf_1000_Einwohner  455 non-null    object
 10  Einwohner/-innen_je_km²            455 non-null    object
 11  Anzahl_unter_6                     455 non-null    object
 12  %_unter_6                          455 non-null    object
 13  Anzahl_6-15                        455 non-null    object
 14  %_6-15                             455 non-null    object
 15  Anzahl_15-65                       455 non-null    object
 16  %_15-65                            455 non-null    object
 17  Anzahl_65_mehr                     455 non-null    object
 18  %_65_mehr                          455 non-null    object
dtypes: object(19)
memory usage: 71.4+ KB

In [15]:
df['Insgesamt'] = df['Insgesamt'].astype(float)
df['Anzahl_männlich'] = df['Anzahl_männlich'].astype(float)
df['Anzahl_weiblich'] = df['Anzahl_weiblich'].astype(float)
print(df.dtypes)

Gebiet                                object
Fläche                                object
Insgesamt                            float64
Anzahl_männlich                      float64
%_männlich                            object
Anzahl_weiblich                      float64
%_weiblich                            object
Anzahl_Abnahme                        object
%_Abnahme                             object
Einwohnerinnen_auf_1000_Einwohner     object
Einwohner/-innen_je_km²               object
Anzahl_unter_6                        object
%_unter_6                             object
Anzahl_6-15                           object
%_6-15                                object
Anzahl_15-65                          object
%_15-65                               object
Anzahl_65_mehr                        object
%_65_mehr                             object
dtype: object

In [16]:
df.head()

,Gebiet,Fläche,Insgesamt,Anzahl_männlich,%_männlich,Anzahl_weiblich,%_weiblich,Anzahl_Abnahme,%_Abnahme,Einwohnerinnen_auf_1000_Einwohner,Einwohner/-innen_je_km²,Anzahl_unter_6,%_unter_6,Anzahl_6-15,%_6-15,Anzahl_15-65,%_15-65,Anzahl_65_mehr,%_65_mehr
3,Land Hessen,21115.629292,6295017.0,3108589.0,49.381741,3186428.0,50.618259,1863,0.029604,1025.039978,298.121212,368155,5.848356,525081,8.341217,4070129,64.656362,1331652,21.154065
4,Kreisfreie Städte,725.921444,1529506.0,753175.0,49.243024,776331.0,50.756976,-4321,-0.281714,1030.744515,2106.98556,95984,6.27549,126879,8.295423,1040299,68.015359,266344,17.413727
5,Landkreise,20389.707848,4765511.0,2355414.0,49.426263,2410097.0,50.573737,6184,0.129934,1023.215876,233.721397,272171,5.711266,398202,8.355914,3029830,63.578282,1065308,22.354539
6,Regierungsbezirk Darmstadt,7444.246362,4026564.0,1985349.0,49.306282,2041215.0,50.693718,-54,-0.001341,1028.139133,540.896124,242890,6.03219,344286,8.550367,2620237,65.07377,819151,20.343673
7,"Darmstadt, Wissenschaftsstadt",122.073718,159631.0,81251.0,50.899261,78380.0,49.100739,457,0.287107,964.66505,1307.660671,9331,5.845356,12576,7.878169,109739,68.745419,27985,17.531056